
#content {
    color: #454B1B;
}

.content-p{    
    justify-content: center; 
    align-items: center;
    width: 800px;
    margin: 0 auto; 
    color: #CBBD93;
    padding: 20px; 
    box-sizing: border-box; 
    height: auto;
}

.content-c{
    color: #454B1B;
    text-align: center;
}

.content-s{
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 700px;
    margin: 0 auto; 
    color: #CBBD93;
    padding: 20px; 
    box-sizing: border-box; 
    height: auto;
}

.content-h{
    text-align: center;
    color: #CBBD93;
}

.info{
    color: #454B1B
}

.info-p{
    color: #CBBD93;
    text-decoration: none;
    text-align: justify;

}

#main{
    text-align: center;
    margin: 20px 0;
    color: #454B1B;
}

body {
    background-color: #1a1a1a;
    font-family: "Stencil Std", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav{
    color: black;
}
.nav-b{
    background-image: url("../images/chocolate_desert.webp");
    background-position: 73vh;
    padding: 15px;
    text-transform: uppercase;
    word-spacing: 90px;
}

.nav-btn:hover {
    color: black;
    text-decoration: underline; 
}

a:link, a:visited {
    color: #454B1B;
    text-decoration: none;
    font-weight: bolder;
}

img {
    display: block;
    margin: auto; 
}

.image-c {
    margin-left: 10px; 
    display: block; 
}

.youtube {
    align-items: center;
    padding: 20px;
}


.character{
    color: #CBBD93;
    text-align: justify;
}

#footer {
    width: 100%; 
    background-image: url("../images/chocolate_desert.webp");
    color: #454B1B; 
    padding: 10px; 
    text-align: center; 
}

#footer img {
    object-fit: cover; 
    max-width: 100%; 
    height: auto; 
}

#footer a {
    color: black;
    display: block; 
    margin-top: 10px; 
}